$("li .badge").text("<%= CartDomain.get_products_number current_user%>");
    var message = "+1"
    var total_price = <%= CartDomain.get_total_price(current_user)%>
    var free_deliver_price =  <%= @cart.store.free_deliver_price %>

      if((total_price - free_deliver_price)>= 0){
        message = "+1 总价" + total_price +"元, 已经可以下单啦"
      }else{
        message = "+1 还差" + (free_deliver_price- total_price) +"元, 就可以下单啦"
      }

$("#cart_field").remove();

$("#cart_number").before('<li id="cart_field"><a href="#cart_modal" id="cart" role="button" data-toggle="modal">购物车</a> </li>');

$("#cart").click(function(){
  $("#cart_modal_body").load("/cart/");
});


$('#cart').grumble({
  text: message,
  angle: 200,
  distance: 2,
  type: 'alt-',
  showAfter: 0,
  hideAfter: 2000,
});

