<div>
  商店名称:
  <%= store.name %>
  状态：
  <% if store.opened?%>
    营业中
  <% else %>
    休息中
  <% end %>
  <%= image_tag store.avatar.url%>
  <br/>
  <ul class="thumbnails">
    <% store.products.each do |product|%>
      <%= render "product", product: product%>
    <% end %>
  </ul>
</div>
