<div class="container">
  <div class="table">
    <% @stores.each do |store| %>
      <tr>
        <%= render "store", store: store%>
      </tr>
    <% end %>
  </div>

  <a id="test" href="#cart_modal" class="btn btn-large btn-danger" role="button" data-toggle="modal">购物车</a>
</div>

<script>
  $("#test").click(function(){
    $("#cart_modal_body").load("cart/");
  });
</script>


<!--product Modal -->
<div id="product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">商品详情</a>
      </li>
      <li><a href="#">评论</a></li>
    </ul>
    <div id="product_modal_body">
      <p>载入中...</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">来一份</button>
  </div>
</div>


<!--cart Modal -->
<div id="cart_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">购物车</h3>
  </div>
  <div class="modal-body" id="cart_modal_body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">结帐</button>
  </div>
</div>
