<div class="container">
  <div class="table">
    <% @stores.each do |store| %>
        <%= render "store", store: store%>
    <% end %>
  </div>

<!--product Modal -->
<div id="product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">详情</h3>
  </div>
  <div class="modal-body" id="product_modal_body">
    <p>载入中...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" id="product_modal_submit">来一份</button>
  </div>
</div>

<script>
  <% if !user_signed_in?%>
    $(document).ready(function(){

      $('#login').grumble({
        text: "     请先登录哦~      ",
        angle: 200,
        distance: 4,
        showAfter: 0,
        hideAfter: 3000,
      });
    });
  <% end %>

  <% if user_signed_in? && (current_user.phone.blank? || current_user.address.blank?) %>
    $(document).ready(function(){

      $('#address').grumble({
        text: "先设置收货地址吧~",
        angle: 200,
        distance: 3,
        showAfter: 0,
        hideAfter: 4000,
      });
    });
  <% end %>

  $(document).ready(function(){
    setTimeout('$(".alert-success").remove()',3500);
    });
</script>
