.store
{
  margin: 20px 20px 20px 20px;
}
.store_item
{
  padding: 20px 20px 20px 23px;
  width: 60px;
  height: 100px;
  position: relative;
  word-break: break-all;
  display: table-cell;
  vertical-align: inherit;
}
.store_item:hover {
background-color: #eff8ff;
}
.free_deliver_price{
position: relative;
right: -20px;
bottom: -10px;
}
.deliver_area{
position: relative;
right: -10px;
bottom: -15px;
}

.store_name{
text-align:center;
font-size:20px;
}

.product_item
{
  padding: 20px 20px 20px 23px;
  width: 120px;
  position: relative;
  word-break: break-all;
  display: table-cell;
  vertical-align: inherit;
}
.product_item:hover {
background-color: #eff8ff;
}
.product_price {color:red;}
.product_title {font-size:14px;}
.center {text-align:center}

.product_info {
  position:relative;
  bottom: 0px;
  display: inline;
}
.product_detail {
  position:relative;
  left:0px;
}

#cart {
  color: white;
}

.more_products
{
  padding: 20px 20px 20px 23px;
  width: 40px;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  position: relative;
  word-break: break-all;
  display: table-cell;
  vertical-align: inherit;
}
.more_products:hover {
background-color: #eff8ff;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
  background: url("background.jpg") center;
  background-attachment:fixed;
}
.content {
  padding:10px;
  padding-bottom:80px;   /* Height of     the footer element */
}
.footer {
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  left:0;
}

#wrapper {
  min-height:100%;
  position:relative;
}

.more_products > a {
  color: red ;
}

.store_product_item
{
  padding: 20px 20px 20px 23px;
  width: 160px;
  position: relative;
  word-break: break-all;
  display: table-cell;
  vertical-align: inherit;
}
