<ul class="nav nav-tabs">
  <li class="active">
    <a href="#" class="detail">商品详情</a>
  </li>
  <li><a href="#" class="comments">评论</a></li>
</ul>
<%= @product.description %>
<%= image_tag @product.avatar%>

<script>
 $(".nav-tabs .comments").click(function(){
    $('#product_modal_body').load('<%= product_comments_path(@product)%>');
  });
</script>
